<% if object.errors.any? %>
  <p>Please fix these errors before resubmitting:</p>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
